[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
pdf_to_image = "pipenv run python PdfToImage/pdf_to_image.py"
install_notion_api = "pipenv install "
image_to_url = "pipenv run python PdfToImage/image_to_url.py"
upload_images = "pipenv run python PdfToImage/functional/upload_images_to_notion.py"
delete_images = "pipenv run python PdfToImage/delete_images.py"
delete_pdfs = "pipenv run python PdfToImage/delete_pdfs.py"
deploy_web = "pipenv run python web/main.py"
pdf_to_image_pass = "pipenv run python PdfToImage/unlock_pdf_to_image.py"

[packages]
PyDrive = "*"
requests = "*"
pdf2image = "*"
pyinstaller = "*"
flask = "*"
boto3 = "*"
pikepdf = "*"
pypdf2 = "*"
pypdf = "*"
